a,
.btnLogout {
    color: rgba(0, 0, 0, .55);
    padding: 6px 20px 0 0;
    text-decoration: none;
}

.btnLogout:focus {
    box-shadow: none
}

.btn {
    border-radius: 6px;
}

a:hover,
.btnLogout:hover {
    color: rgba(0, 0, 0, .8);
    ;
}

body {
    /* background-color: #d7e5fa; */
    background-color: #edf6fc;
}

.logRegbtn {
    display: flex;
}

.pagination {
    /* position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem; */
    justify-content: center;
    padding: 20px 0;
}

.wrapper {
    margin: 0 auto;
    max-width: 1920px;
    min-height: 80vh!important;
}

.topPanel {
    margin: 0 auto;
    max-width: 1920px;
}

.card {
    border-radius: 10px;
}


/* *****************************************************************************************
* Всплывающее уведомление в правом нижнем углу START 
*
*
*/

.toast-header {
    padding: 0.1rem 0.75rem !important;
}

.toast {
    opacity: 1 !important;
}

#toast {
    /* transition: 1s; */
    display: block;
}

.opac {
    opacity: 0 !important;
    display: none;
}

.closeToast {
    cursor: pointer;
    padding: 2px;
    text-decoration: none;
    color: #6c757d;
    font-size: 18px;
}


/* 
*
*
* Всплывающее уведомление в правом нижнем углу END 
***************************************************************************************** */

.modal-content {
    height: 90vh;
}

.productGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    justify-items: center;
    grid-gap: 8px;
}

.productCard {
    width: 200px;
    position: relative;
    cursor: pointer;
}

.leftbar {
    display: grid;
    grid-template-columns: 1fr;
    /* min-width: 20vw; */
    float: left;
    padding: 0 0.75rem;
}